
/*nav*/
nav ul{
	list-style-type: none;
	border-top: 6px solid #F2D0A4;
	background-color: black; 
}
nav ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 20px;
	padding: 15px 25px;
	color: #F2D0A4;
	}
nav ul li a:hover{
		color: #e0e2db;
	}

.logo{
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 40px;
	background: #F2D0A4;
	color: black;
	font-style: italic;
}	

.logo:hover{
	background-color: #e0e2db;
	color: #F2D0A4;
}

@media screen and (min-width: 576px){
	nav ul{
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: space-between;
	}
	nav ul li{
		flex: 1 0 auto;
	}
	.logo{
		display: block;
		text-align: center;
	}
	.logo .fa{
		display: none;
	}

}

/*footer*/
footer{
	background-color: black;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.footer-text {
	text-transform: uppercase;
	font-size: 15px;
	color: white;
	margin-bottom: 10px;
}

.footer-icons {
	font-size: 30px;
}

.footer-icon .fa {
	margin-right: 10px;
	color: white;
	transition: transform 2s;
}

.footer-icons .fa:hover {
	caption-side: #F2D0A4;
	transform: translateY(-15px);
}

body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-size: cover;
	background-position: center;

}

.contact-title{
	margin-top: 100px;
	color: black;
	text-transform: uppercase;
	transition: all 4s ease-in-out;

}

.contact-title h1{
	font-size: 30px;
	line-height: 10px;
}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: black;
	font-size: 18px;
	margin-bottom: 16px;
}

input{
	height: 45px;
}
 form .submit{
 	background: #ff5722;
 	border-color: transparent;
 	color: #fff;
 	font-size: 20px;
 	font-weight: bold;
 	letter-spacing: 2px;
 	height: 50px;
 	margin-top: 20px;
 }

  form .submit:hover{
  	background-color: black;
  }

  ::placeholder {
  	color: black;
  	opacity: 1;
  }